*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: rgb(235, 215, 235);
  font-family: 'Inria Sans', sans-serif;
  font-size: 15px;
  color: rgb(66, 0, 66);
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --- topbar --- */

.topbar {
  background: rgb(66, 0, 66);
  color: rgb(235, 215, 235);
  border-radius: 10px;
}

.topbar-logo {
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 0.5em 0;
}

.topbar-nav {
  text-align: center;
  padding-bottom: 1em;
  line-height: 1.6;
}

.topbar-nav a {
  display: inline-block;
  margin: 0 12px;
  transition: color .3s;
}

.topbar-nav a:hover {
  color: plum;
}

/* --- container --- */

.container {
  padding: 0 1em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.site {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

/* --- sidebar --- */

.sidebar {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  width: 50%;
  transition: opacity 0.3s;
  padding: 0.6em 0;
}

.sidebar a::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 1.2em;
  background: url(img/home.svg) center center / contain no-repeat;
  transition: opacity .3s;
}

.sidebar .sidebar-letter::before {
  background-image: url(img/letter.svg);
}

.sidebar .sidebar-calendar::before {
  background-image: url(img/calendar.svg);
}

.sidebar .sidebar-friend::before {
  background-image: url(img/friend2.svg);
}

.sidebar .sidebar-group::before {
  background-image: url(img/friend.svg);
}

.sidebar a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.sidebar a:hover::before {
  opacity: 0.5;
}

/* --- main --- */

.card {
  border: solid 1px plum;
  background: plum;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.3em;
}

.card-header {
  padding: 10px;
  position: relative;
}

.card-header-avatar{
  padding-left: 4.2em;
}

.card-avatar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(66, 0, 66);
  margin: 0.2em 0;
}

.card-title a {
  transition: opacity 0.3s;
}

.card-title a:hover {
  opacity: 0.5;
}

.card-time {
  color: rgba(66, 0, 66, .7);
  font-size: 0.8rem;
}

.card-body {
  padding: 0 10px 30px 10px;
}

.card-body .yolo {
  width: calc(100% + 20px);
  display: block;
  margin-left: -10px;
  margin-right: -10px;
}

.card-body p:first-child {
  margin-top: 0;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.card-footer {
  border-top: solid 1px hsl(300, 47%, 65%);
  background: hsl(300, 47%, 65%);
  display: flex;
  padding: 10px 10px;
  font-size: .8rem;
  color: rgba(66, 0, 66, .7);
  justify-content: space-between;
}

.card-footer a:hover {
  text-decoration: underline;
}

.card-like::before,
.card-comments::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  opacity: .7;
  background: url(img/like.svg) center center / contain no-repeat;
}

.card-comments::before {
   background: url(img/blog.svg) center center / contain no-repeat;
}

/* --- aside --- */

.sidebar-title {
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(66, 0, 66);
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-title::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 5px;
  background: rgb(66, 0, 66);
}

.friend {
  margin: 14px 0;
  display: flex;
}

.friend-body {
  display: flex;
  flex-direction: column;
}

.friend-avatar {
  width: 70px;
  height: 70px;
  flex: none;
  margin-right: 10px;
}

.friend-name {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}

.friend-name:hover {
  text-decoration: underline;
}

.friend-add {
  display: block;
  font-size: 0.8rem;
  margin-top: auto;
  margin-bottom: 3px;
}

.friend-add:hover {
  text-decoration: underline;
}

.friend-add::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 18px;
  height: 13px;
  background: url(img/add-friend.svg) center center / contain no-repeat;
}

.friend-connections {
  font-size: 0.8rem;
  opacity: 0.5;
}

@media only screen and (min-width: 593px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 1.5em;
  }

  .topbar-logo,
  .topbar-nav {
    padding: 0;
  }

  .topbar-nav a {
    margin: 0 1.3em;
  }

}

@media only screen and (min-width: 950px) {
  .site {
    display: flex;
  }

  .sidebar {
    display: block;
    flex: none;
    width: 180px;
  }

  .sidebar a {
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 30px;
  }

  .card {
    max-width: 600px;
  }

  .aside {
    max-width: 400px;
  }


}
